<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	
  <properties resource="jdbc.properties"/>

  <typeAliases>
    <!--使用package标签对包下的所有类起别名-->
  	<package name="crm.settings.domain"/>
    <package name="crm.workbench.domain"/>
  </typeAliases>
  
  <environments default="development">
    <environment id="development">
      <transactionManager type="JDBC"/>
      <dataSource type="POOLED">
        <property name="driver" value="${jdbc.driver}"/>
        <property name="url" value="${jdbc.url}"/>
        <property name="username" value="${jdbc.user}"/>
        <property name="password" value="${jdbc.password}"/>
      </dataSource>
    </environment>
  </environments>
  
 
  <mappers>

      <!--批量注册mybatis的mapper映射文件，包下面的映射文件将会自动注册-->
      <package name="crm.settings.dao"/>
      <package name="crm.workbench.dao"/>

  </mappers>
</configuration>

































